@font-face {
    font-family: CFont;
    src: url(Media/fonts/PressStart2P-vaV7.ttf);
  }
  
body{
    background-image: url("Media/home-background3.png");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: CFont;
    color: azure;
    margin: 0%;
    padding: 0%;
}

#sBox{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 7vw;
    background-color: black;
    position: fixed;
    z-index: -1;
    opacity: 0;
}

#name{
    text-align: center;
    text-shadow: 2px 2px 8px black;
    transform: scale(1, 1.4);
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-size: 4.5vw;
    grid-area: name;
}

#title{
    text-align: center;
    font-size: 1.4vw;
    transform: scale(1, 1.5);
    text-shadow: 2px 2px 8px black;
    margin-top: 1.5%;
    padding-top: 0%;
    margin-bottom: 8%;
    grid-area: title;
}

#basic-grid{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.navItem{
    text-align: center;
    padding: 0%;
    margin: 0%;
    transition: all 500ms;
    overflow: hidden;
}
  
.navItem:hover {
    transform: translateY(-3px) scale(1.1);
    text-decoration: underline;
 }


.navItem img{
    max-width: 8.5vw;
    height: auto;
}

figcaption{
    text-align: center;
    font-size: .9vw;
    text-shadow: 2px 2px 8px black;
    margin: 0.4vw;
    transform: scale(1, 1.5);
}

.spaceship img{
    max-width: 6%;
    height: auto;
}

.spaceship{
    margin-top: 9vw;
}

#content{
    position: fixed;
    margin: 0%;
    padding: 0%;
    transform: translateX(100px) translateY(-220px);
    border-radius: 25px;
    opacity: 0.3;
}

#frame{
    position: fixed;
    margin: 0%;
    padding: 0%;
    transform: translateX(120px) translateY(-200px);
    transition: all 1500ms;
    opacity: 0;
}

#frame img{
    position: fixed;
    width: 22vw; 
    height: 30vw;
    border-radius: 220px;
}

#text{
    position: fixed;
    margin: 0%;
    padding: 0%;
    transform: translateX(450px) translateY(-190px);
    opacity: 0;
    font-family: "Times New Roman", Times, serif;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8vw;
    text-decoration: underline;
    color: blueviolet;
    position: fixed;
   right: 0;
   bottom: 0;
   margin: .5vw;
}